* {
    box-sizing: border-box;
}

body {
    margin-top: 88px;
    font-family: 'Roboto', sans-serif;

    background-color: #fafafa;
}
strong {
    font-weight: bold;
}


ion-icon {
    font-size: 20px;
}

img {
    object-fit: cover;
}

.horizontal-border {
    width: 100vw;
    max-width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header {
    width: 935px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .header > img {
        display: none;
    }
    .header_logo {
        display: flex;
        align-items: center;
    }
        .vertical-border {
            width: 1px;
            height: 22px;
            background: #dbdbdb;
            margin: 0 10px;
        }
        input {
            width: 215px;
            height: 28px;
            border: 1px solid #dbdbdb;
            border-radius: 3px;
            outline: none;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            padding: 0 10px;
            color: #979797;
        }
            input::placeholder {
                text-align: center;
            }
    .header_icons ion-icon {
        margin-left: 10px;
    }


.container {
width: 935px;
margin: 0 auto;
display: flex;
}

.feed {
    width: 614px;
}
    .stories {
        height: 118px;
        margin-bottom: 24px;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        background-color: #fff;
        display: flex;
        align-items: center;
        flex-wrap: no-wrap;
        overflow: hidden;
        font-size: 12px;
        position: relative;
    }
        .stories ion-icon {         /* icon shadow */
            position: absolute;
            color: #fff;
            right: 0;
            font-size: 32px;
        }
        .stories_unit {
            width: 66px;

            margin-left: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .stories_unit_pic {
                height: 66px;
                width: 66px;
                margin-bottom: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url("media/stories/stories_background.jpg");
                background-size:cover;
                background-repeat: no-repeat;
            }
            .stories_unit_pic img {
            height: 56px;
            width: 56px;
            border-radius: 28px;
            }

    .post {
        background-color: #fff;
        font-size: 14px;
        margin-bottom: 60px;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
    }
        .post_top {
            height: 60px;
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .post_top_name {
                display: flex;
                align-items: center;
            }
            .post_top_name img {
                margin-right: 10px;
                height: 32px;
                width: 32px;
                border-radius: 16px;
            }
        .post > img {
            width: 614px;            
            height: 614px;
            object-fit: cover;
        }
        .post_icons {
            height: 40px;
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .post_icons_left ion-icon {
                padding-right: 5px;
            }
        .post_reaction {
            height: 40px;
            padding: 0 10px;
            display: flex;
            align-items: center;
        }
            
            .post_reaction img {
                margin-right: 10px;
                height: 20px;
                width: 20px;
                border-radius: 10px;
            }


.footer {
    height: 54px;
    width: 100%;
    padding: 0 10px;
    background-color: #fff;
    border-top: 1px solid #dbdbdb;
    
    display: none;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
}



.sidebar {
    width: 293px;
    height: 100%;
    margin-left: 28px;
    padding-right: 5px;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 88px;
}
    .sidebar_top {
        height: 100px;
        font-size: 14px;
        display: flex;
        align-items: center;
    }
        .sidebar_top img {
            height: 56px;
            width: 56px;
            border-radius: 28px;
            margin-right: 15px;
        }
        .sidebar_top span {
            font-weight: 300;
            color: #979797;
        }
    .sidebar_mid {
        height: 18px;
        font-size: 12px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .sidebar_mid span {
            font-weight: 500;
            color: #979797;
        }
    .sidebar_list {
        font-size: 14px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .sidebar_list > span {
            font-weight: bold;
            color: #139EF2;
        }
        .sidebar_list_left {
            display: flex;
        }
            .sidebar_list_left span {
                font-weight: 500 ;      
                color: #979797;
            }
        .sidebar_list img {
            height: 32px;
            width: 32px;
            border-radius: 16px;
            margin-right: 10px;
        }
    .sidebar_bottom {
        font-size: 11px;
        color: #c7c7c7;
        margin-top: 50px;
    }




@media (max-width: 935px) {
    .sidebar {
        display: none;
    }

    .header {
        padding: 0 10px;
    }

    .container {
        width: 100%;
        justify-content: center;
    } 
}

@media (max-width: 614px) {
    .hide-on-mobile {
        display: none;
    }

    body {
        margin-top: 54px;
    }

    .header > img {
        display: block;
    }

    .feed {
        width: 100%;
    }

    .stories {
        border: none;
        background-color: #fafafa;
        margin-bottom: 0;
    }

    .post > img {
        max-width: 100%;
    }
    
    .footer {
        display: flex;
    }

    video {
        max-width: 100%;
    }    
}